body{
    background-color: rgb(184, 245, 225);
}
form{
    border: 1px solid white;
    color: rgb(8, 68, 77);
}

button{
    background-color: rgb(5, 187, 187);
    width: 80px;
    height: 30px;
    border: 1px solid white;
    color: antiquewhite;
    font-weight: bolder;
}